/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.tabContent {
  padding: 16px;
}

.artifactsContent {
  padding: 16px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.headingSkeleton {
  margin-bottom: 16px;
}

.textSkeleton {
  margin-bottom: 8px;
}

.placeholder {
  width: 90%;
  height: 128px;
  border-radius: 4px;
}

.logContainer {
  padding: 12px;
  height: 250px;
}

.logLine {
  margin-bottom: 4px;
}

.artifactCard {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 12px;
  background-color: #fafafa;
}

.artifactPlaceholder {
  width: 100%;
  height: 128px;
  margin-bottom: 8px;
}
