.footer {
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.healthy {
  background-color: #45ea69;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-left: 0.5rem;
}

.error {
  background-color: #e92f2f;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-left: 0.5rem;
}

.serviceHealthTitle {
  margin-left: auto; /* this makes it hug the right edge */
  display: flex;
  align-items: center; /* vertically center the little dot */
}
