/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */
@use '@carbon/react';
@use '@carbon/themes/scss/themes' as *;
@use '@carbon/themes';
@use '@carbon/styles';

:root {
  @include themes.theme($white); /*Set default to white theme*/
}
@media (prefers-color-scheme: white) {
  :root {
    @include themes.theme($g100); /*Use dark theme for dark system preference*/
  }
}

[data-carbon-theme='light'] {
  @include themes.theme($white);
}

[data-carbon-theme='dark'] {
  @include themes.theme($g100);
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1; //ensure the main content takes up all the space on the page
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#content {
  display: inline-block;
  position: relative;
  margin-top: 3rem;

  // Temporarily removed left margin since the sidebar is not implemented yet
  // margin-left: 16rem;
}

//--------------------------------------------------------------------------
// Utility classes
//--------------------------------------------------------------------------
.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#tile {
  width: 100%;
  font-size: 20px;
}

$spaceSizes: (1, 2, 3, 5, 8, 13);

@each $space in $spaceSizes {
  .padding-x-#{$space} {
    padding-left: #{$space}rem;
    padding-right: #{$space}rem;
  }

  .margin-y-#{$space} {
    margin-top: #{$space}rem;
    margin-bottom: #{$space}rem;
  }

  .margin-top-#{$space} {
    margin-top: #{$space}rem;
  }
}
