/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.homeContentWrapper{
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    display: grid;
    place-items: center;
    flex-direction: column;
}

.link{
    text-decoration: none;
}