/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.userDetailsContainer {
    margin: 0.5rem 2rem 3rem 2rem;
}

.profileDetails p {
    font-size: 20px;
}

.loginActivityTile {
    margin: 0.5rem 2rem;
}

.loginActivityContainer {
    margin-left: 2rem;
}