/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */

.statusPassed {
  fill: #24a148;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statusFailed {
  fill: #da1e28;
}

.statusOther {
  fill: #8d8d8d;
}

.statusRequeued {
  fill: #0f62fe;
}

.statusCancelled {
  fill: #525252;
}

.statusHung {
  fill: #f1c21b;
}

.statusContainer {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
