/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */
 .testRunsContentWrapper {
    width: 90%;
    height: 100%;
    margin: 4rem auto;
}

.tabContent {
    font-size: 1.2rem; 
}

.TimeFrameFilterContainer {
    display: flex;
    justify-content: space-between; 
    gap: 2rem; 
    width: 85%;
    padding-top: 1.5rem;
}

.DurationInputsContainer {
    display: flex;
    gap: 1rem;
}

.notification{
    position: fixed;
    bottom: 5.5rem;
    right: 1rem;
    z-index: 9999;
}

@media (max-width: 1055px) {
    .TimeFrameFilterContainer {
        flex-direction: column; 
    }
    
    .DurationInputsContainer {
        flex-direction: column; 
        gap: 0.5rem;
    }
}