/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */
.testRunsContentWrapper {
  width: 90%;
  height: 100%;
  margin: 4rem auto;
}

.timeFrameText,
.titleText {
  font-size: 1rem;
  margin: 0.5rem 0.5rem;
}

.notification {
  position: fixed;
  bottom: 5.5rem;
  right: 1rem;
  z-index: 9999;
}

.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.tooltipContent {
  padding: 6px;
  font-size: 0.9rem;
}
