/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */
.title {
  font-weight: 500;
  margin: 1rem 0;
}

.dropdownContainer {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1.5rem;
}

.timezoneDropdown :global(.cds--dropdown) {
  width: auto;
  min-width: 20rem;
}
