/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */
.container {
  width: 95%;
  margin: 5rem auto;
}

.heading {
  font-weight: 500;
}

.pageHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tokenContainer,
.experimentalFeaturesContainer {
  width: 90%;
  margin: 5rem auto;
}

.btnContainer {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
}

.tokensList {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.deleteBtn {
  margin-left: 1rem !important;
  text-align: center !important;
  padding: 0.6rem 1rem !important;
}

.title {
  margin: 1rem 0;
}

.experimentalFeaturesHeaderContainer {
  display: flex;
  flex-direction: column;
}

.featureFlagsContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

.featureFlagLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.featureFlagLabel input[type='checkbox'] {
  accent-color: #0f62fe;
  width: 1.1rem;
  height: 1.1rem;
}

.featureFlag {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
}
